.buttons button {
    font-size: 1.2em;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    max-width: 800px;
    font-family: sans-serif;
    margin: 2em auto 0 auto;
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    margin: 0;
    padding: 0;
}
.title {
    margin: 1em 0;
    border-bottom: #bbb 2px dashed;
}
.feed-container {
    width: 74%;
    float: left;
}
.history-container {
    float: left;
    width: 25%;

}
.feed {
    background: #f0f0f0;
    color: #333;
    padding: .5em;
    margin: 1em;
}
.feed img {
    float: left;
    clear: left;
    width: 10%;
}
.feed p {
    float: left;
    width: 87%;
    margin-left: 2%;
}

.history {
    font-size: .9em;
    margin: .5em 1em;
}

.feed:after {
  content: "";
  display: table;
  clear: both;
}
